h2{
    color: #145468;
}
.Canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #145468;
}
.Container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 400px;
  background-color: white;
  border-radius: 30px;
  min-height: 300px;
}
.Container button{
    height: 40px;
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    box-shadow:2px 2px 2px 2px #145468;
    color: #145468;
    font-weight: bold;
    cursor: pointer;
}

.Container p{
    font-weight: bold;
}